.postercontainer{
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border:  4px solid rgb(239, 198, 198);
}
.poster{
    width: 100%;   
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    animation: rotatePoster 10s linear infinite ;
}

@keyframes rotatePoster {
    100%{
        transform: rotate(360deg);
    }
    
}


@media screen and (min-width: 720px) {
    .postercontainer{
        width: 5em;
        height: 5em;
        border-radius: 100%;
    }

}



